/* Page gradient Background */
body {
    font-family: arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #000000, #fffffff);
    color: #fff; /*White text by default*/
    transition: all 0.3s ease;
}

/* Header */
header {
    text align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 4rem;
    color: #fff;
    letter-spacing: 2px;
}

header h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: 300;
    color: #ddd;
}

/* Navigation Links */
nav {
    margin-top: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #bbb;
    text-decoration: underline;
}

/* Sections */
section {
    padding: 80px 20px;
    text-align: center;
    color: #fff;
}

section:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.3); /* subtle dark contrast */
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

/* Links inside Projects */
section a {
  color: #fff;
  text-decoration: underline;
}

section a:hover {
  color: #bbb;
}